body{
    margin: 0;
}
h1 {
    text-align: center;
    main p {
        width: 80%;
        margin: 0 auto;
    }
}
main p {
    width: 80%;
    margin: 50px auto;
    }
footer p {
    font-size: 20px;
    margin: 20px auto;
}

a:hover {
    background-color: white;
    color: steelblue;
    font-size: 1.5em;
}

img {
    width: 80%;
    display: block;
    margin: 0 auto;
}
nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
    text-align: center;
}