
body{
    text-align: center; 
    margin: 0%; 
    padding: 0%;
}
#heading{    
    display: block;
    justify-content: center;
}
#image-container{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin: auto;
}
#photo-container{    
    display: flex;
    justify-content: center;
    gap: 90px;
    background-color: #737373;
    padding: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 863px;
    height: 220px;
    margin: auto;
}
.circle-image{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 13px solid #444444;
    overflow: hidden;
}

